.App {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgb(186,73,73);
  color: white;
  min-height: 100vh;
  font-family: 'ArialRounded', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.break-session-length {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.length-display {
  font-size: 22px;
  padding: 0px 15px 0px 15px ;
}

.button-group {
  color: rgb(186,73,73);
  border: none;
  cursor: pointer;
  margin: 10px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  height: 55px;
  width: 55px;
}

.counter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid rgb(255,255,255,0.1);
  gap: 10px;
  min-width: 190px;
}

#break-label, #session-label {
  margin: 0;
  font-size: 22px;
}

#app-title {
  font-size: 55px;
}

#timer-label {
  background: white;
  color: rgb(186,73,73);
  font-size: 28px;
  padding: 5px;
}

#time-left {
  font-size: 120px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timer-buttons-group {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 20px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255,0.1);
  min-width: 480px;
}